body {
    position: relative;
    width: 100%;
    overflow: scroll;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

#video-container {
    position: fixed;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-triangles {
    background-image: url('assets/imgs/ELEMENTS.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 50%;
    background-attachment: fixed;
}

#content-page {
    position: relative;
    width: 100%;
    height: 3000vh;
}

#content-page .page-logo {
    position: sticky;
    top: 0;
    left: 0;
    /*background-color: blue;*/
    z-index: 9999;

}

.logo {
    display: inline-flex;
    flex-direction: column;
    transition: 0.8s;
    transform: scale(0.5) translateX(-50%) translateY(-45%);
}

.logo.scaled {
    transform: scale(1) translateY(100%);
}

.logo .line {
    width: 395px;
    height: 74px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.logo .sound-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 67px;
    width: 255px;
}

.logo .sound-bars .frequence-bar {
    width: 4px;
    margin: 0 1px;
    background-color: #e9292a;
    transform-origin: 50% 50%;
}

.sound-bars:hover > .frequence-bar {
    animation: frequency 0.3s ease-in-out infinite;
}

.sound-bars:hover > .frequence-bar:nth-child(4n + 4) {
    animation-delay: 0.1s;
}
.sound-bars:hover > .frequence-bar:nth-child(2n + 2) {
    animation-delay: 0.2s;
    animation-duration: 0.4s;
}

.logo .line p {
    font-family: COOLVETICA;
    width: 100%;
    height: 74px;
    line-height: 74px;
    font-size: 100px;
    letter-spacing: -3px;
    margin: 0;
    padding: 0;
    text-align: right;
    color: white;
    user-select: none;
}

.logo .line p.in {
    width: auto;
    letter-spacing: initial;
}

.socials-links {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.socials-links .links {
    width: 100%;
    height: 30vh;
    /* background-color: rgba(129, 42, 42, 0.5); */
    padding-right: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.socials-links .links .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-left: 0;
}

ul.list li {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: 0.3s;
}

ul.list li:hover {
    transform: scale(1.1);
}

i.fab {
    font-size: 70px;
    margin: 0 1rem;
}

i.fab.fa-facebook {
    color: #3b5998;
}

i.fab.fa-facebook:hover {
    text-shadow: 0 0 20px #fff, 0 0 30px #3b5998,  0 0 40px #3b5998;
}

i.fab.fa-twitch {
    color: #9146ff;
}

i.fab.fa-twitch:hover {
    text-shadow: 0 0 8px #fff, 0 0 30px #9146ff, 0 0 40px #9146ff;
}


i.fab.fa-instagram {
    color: #c32aa3;
}

i.fab.fa-instagram:hover {
    text-shadow: 0 0 10px #fff, 0 0 30px #c32aa3, 0 0 40px #c32aa3;
}

i.fab.fa-youtube {
    color: #ff0000;
}

i.fab.fa-youtube:hover {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000;
}

i.fab.fa-soundcloud {
    color: #ff5500;
}

i.fab.fa-soundcloud:hover {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff5500, 0 0 40px #ff5500;
}

.socials-links .show-more {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.socials-links .show-more p {
    color: #fff;
    padding: 2rem;
    font-size: 2rem;
}

.socials-links .show-more .link a{
    color: #fff;
    text-decoration: none;
}

.contact {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.the-voice {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    transition: height 1s, opacity 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.the-voice.hidden {
    opacity: 0;
    transform: translateY(calc(50vh - 50%)) scale(2);
}

.the-voice.shown {
    opacity: 1;
    transform: translateY(calc(50vh - 50%)) scale(1);
}

.the-voice p {
    font-family: COOLVETICA;
    color: white;
    transition: 0.8s;
}
.the-voice p.hidden {
    font-size: 0rem;
    opacity: 0;

}

.the-voice p.shown {
    font-size: 5rem;
    opacity: 1;
}

@font-face {
    font-family: "COOLVETICA";
    src: url("assets/fonts/COOLVETICA.woff");
}

@keyframes frequency {
    50% {
        height: 10%;
    }
}
