@font-face {
    font-family: "COOLVETICA";
    src: url("../assets/fonts/COOLVETICA.woff");
    font-display: fallback;
}

body {
    user-select: none;
    position: relative;
    width: 100%;
    overflow: scroll;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}

#content-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 3000vh;
    background-image: url(../assets/imgs/ELEMENTS.png);
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 80%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

/*****************   ASIDE   ***************/

aside {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 20%;
    background-color: #0a0a1694;
    position: fixed;
}

/* NAV */
nav {
    align-items: center;
    margin-bottom: 15%;
}
nav ul li {
    padding: 1rem;
    font-size: 1.2rem;
}

/* LOGO */
.page-logo {
    transform: scale(0.5);
    user-select: none;
    width: fit-content;
    padding: 0;
    z-index: 99999;
}
.page-logo .line p {
    line-height: 74px;
    width: auto;
    font-family: COOLVETICA, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    letter-spacing: -3px;
    font-size: 100px;
    text-align: right;
    color: white;
}
.page-logo .line:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.page-logo .sound-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-right: 4px;
    width: 255px;
}
.page-logo .sound-bars .frequence-bar {
    width: 4px;
    margin: 0 1px;
    background-color: #e9292a;
}

/*****************   SECTIONS   ***************/

section {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    justify-content: flex-end;
}

/*   SECTION 2 : L'équipe  */

/* C'est */
.c {
    padding: 3rem;
    align-self: center;
}
.c div {
    display: inline-block;
    font-family: sans-serif;
    font-size: 3em;
    font-weight: 700;
    position: relative;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}


/* Equipe title */
#equipe {
    display: flex;
    height: fit-content;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.equipe-title {
    font-size: 4em;
    font-weight: 700;
    align-self: center;
    transform: translate(-10vw 10vh);
}


/* Face-Cards */
.face-cards-list {
    margin: 2rem;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}
.face-card-container {
    width: 30vw;
    background-color: #43424787;
    padding: 2rem 1rem;
    margin: 1rem;
    box-shadow: 0px 0px 10px #7d7d80d9;
}
.face-card-container .name {
    color: #e9292a;
    text-shadow: 0px 0px 5px #0e0e18;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 1rem;
}
.face-card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.face-card-img {
    margin: 0.5rem;
    padding-bottom: 1rem;
}
.face-card-sentence{
    text-align: center;
}


/*   SECTION 3 : Actions  */


#video_container {
    display: flex;
    flex-direction: column;
}
#video {
    display: flex;
    justify-content: center;
}


/*   SECTION 4 : Medias  */
#medias {
    display: flex;
    flex-direction: column;
    height: fit-content;
}
#medias h2 {
    font-size: 3rem;
    font-weight: 600;
    align-self: center;
    padding-bottom: 3rem;
}

/*  CLASSES DYNAMIQUES */

.full-screen {
    width: 80vw;
    height: 100vh;
    align-self: flex-end;
}

.video-screen {
    width: 75vw;
    height: 43vw;
    align-self: center;
}


@media only screen and (max-width: 767px) {
    /* smartphone */
    #content-page {
        background-size: 140%;
    }
    .page-logo {
        left: 20px;
    }
}
