@font-face {
    font-family: "COOLVETICA";
    src: url("../assets/fonts/COOLVETICA.woff");
    font-display: fallback;
}

body {
    width: 100%;
    position: relative;
    overflow: scroll;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 1.2rem;
    color: white;
    height: fit-content;
    background-image: url(../assets/imgs/ELEMENTS.png);
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 80%;
    user-select: none;
}
body::-webkit-scrollbar {
    display: none;
}

#page {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#page-content {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
h2 {
    font-size: 4vmax;
    font-weight: 800;
    align-self: center;
    text-align: center;
    margin: 1rem;
}
h3 {
    font-size: 3vw;
    font-weight: 600;
    text-align: start;
}
button {
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 110px;
    margin: 2rem;
    align-self: center;
}
input {
    width: 60vw;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    margin-bottom: 1.5rem;
}
p {
    font-size: 1rem;
    padding: 1rem;
}





/*****************   ASIDE   ***************/

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 20vw;
    min-width: 200px;
    background-color: #0a0a1694;
    left: 0;
    position: fixed;
    z-index: 99999;
}

/* LOGO */
.ihs-logo {
    width: fit-content;
    padding: 0;
    z-index: 99999;
    transform: scale(0.5);

}
.ihs-logo .line p {
    line-height: 74px;
    width: auto;
    font-family: COOLVETICA, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    letter-spacing: -3px;
    font-size: 100px;
    text-align: right;
    color: white;
    padding: 0;
}
.ihs-logo .line:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ihs-logo .sound-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-right: 2px;
    width: 255px;
}
.ihs-logo .sound-bars .frequence-bar {
    width: 4px;
    margin: 0 1px;
    background-color: #e9292a;
}
/* NAV */
nav {
    align-items: center;
    margin-bottom: 15%;
}
nav ul li {
    padding: 1rem;
    font-size: 1.2rem;
}





/*****************   SECTIONS   ***************/

section {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.full-screen {
    width: 77vw;
    min-height: 100vh;
    height: fit-content;
    padding: 1rem;
}




/*****************   EQUIPE   ***************/

/* Equipe title */
#equipe {
    justify-content: space-evenly;
}

/* Face-Cards */
.members-cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.member-card {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    width: 30vw;
    background-color: #ffffff1f;
    backdrop-filter: blur(2px);
    padding: 2vw 2vw;
    margin: 1rem;
    box-shadow: -5px 5px 7px 6px #080811a6;
    border-top: 1px solid #ffffff33;
    border-right: 1px solid #ffffff33;
}
.member-infos {
    padding-right: 1vw;
    align-self: center;
}
.member-card img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}
.member-sentence {
    text-align: center;
}




/*****************   ACTIONS   ***************/

#video {
    justify-content: center;
    align-items: center;
}
.video-screen {
    width: 60vw;
    height: 43vw;
    align-self: center;
}




/*****************   MÉDIAS   ***************/

#medias {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#medias-container {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.media {
    width: 12vh;
    height: 12vh;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    opacity: 0.8;
    justify-content: center;
    align-items: center;
}
.svg-inline--fa {
    height: 6rem;
    color: white;
}
.facebook {
    background: #3b5998;
}
.twitch {
    background: #9146ff;
}
.instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #ffdc7d 5%, #f46f30 45%,#c32aa3 60%,#7232bd 75%, #285AEB 90%);
}
.youtube{
    background: #ff0000;
}
.soundcloud {
    background: #ff5500;
}




/*****************   CONTACT   ***************/

#contact-form {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#contact-form p {
    padding-left: 0.2rem;
}




/**************************   RESPONSIVE  *************************/

@media only screen and (max-width: 975px) {
    body {
        background-size: 140%;
    }
    #page-content {
        width: 70vw;
    }
    .full-screen {
        width: 77vw;
    }
}

@media only screen and (max-width: 799px) {
    /* smartphone */
}


